<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html lang="pt-BR">
<head>
    <meta http-equiv="content-language" content="pt-br">
    <meta name="author" content="KauanH">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Divulgação de produtos, venha ja conferir">
    <meta name="keywords" content="cosmeticos, beleza, vida, cuidados, pele, produtos,"/>
    <meta name="robots" content="all" />
    <link rel=”canonical” href="<%=url%>/login"/>
    <title><%=titulo%></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/colors/teme.css"/>
    <link rel="stylesheet" type="text/css" href="css/header_footer/header_footer.css"/>
    <link rel="stylesheet" type="text/css" href="css/css.css"/>
</head>
<body>
    <header class="sticky-top">
        <!--Menu apos o colappso-->
        <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg-menu p-4">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="opcNav nav-link link" id="home-tab" data-toggle="tab" href="<%=url%>/" role="tab" aria-controls="home" aria-selected="true">Menu</a>
                </li>
                <li class="nav-item">
                  <a class="opcNav nav-link link" aria-current="page" href="<%=url%>/login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="opcNav nav-link link" id="categria-tab" data-toggle="tab" href="#categoria" role="tab" aria-controls="categoria" aria-selected="false">Categorias</a>
                </li>
                <li class="nav-item">
                  <a class="opcNav nav-link link" id="contact-tab" data-toggle="tab" href="#contato" role="tab" aria-controls="contact" aria-selected="false">Contato</a>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade" id="home"    role="tabpanel" aria-labelledby="home-tab">   AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</div>
                <div class="tab-pane fade" id="categoria"  role="tabpanel" aria-labelledby="categoria-tab">
               <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a class="opcNav nav-link link" href="#">Cabelo</a>
                </li>
                <li class="nav-item">
                  <a class="opcNav nav-link link" href="#">Pele</a>
                </li>
              </ul>
                </div>
                <div class="tab-pane fade" id="contato" role="tabpanel" aria-labelledby="contact-tab">CAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</div>
              </div>
          </div>
        </div>
        <!--Menu antes do colappso-->
            <div class="pos-f-t">
          <nav class="navbar navbar-expand-lg navbar-dark bg-menu">
              <div class="container-fluid">
                <a id="logoSite" class="navbar-brand" style="font-size: calc(31px + (48 - 31) * ((100vw - 400px) / (2600 - 400)));" href="#"><%= marca%></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Alterna navegação">
                  <span class="navbar-toggler-icon"></span>
                </button>
                 <div class="collapse navbar-collapse justify-content-space-between" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Categorias</a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Cabelo</a>
                        <a class="dropdown-item" href="#">Pele</a>
                      </div>
                  </li> 
                    <li>
                    <a class="nav-link" aria-current="page" href="#">Contato</a>
                  </li>
                  <li>
                    <a class="nav-link" aria-current="page" href="<%=url%>/login">Login</a>
                  </li>
                  </ul>
                  <div class="menuSS">
                  <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-secondary" type="submit">Search</button>
                  </form>
                </div>
                </div>
              </div>
            </nav>
            </div>
      </header>
    <!-- Page content-->
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
                <!-- Post content-->
                <article style="word-break: break-all;">
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1"><%=tituloPost%></h1>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">Postado <%=dataPost%> por <%=donoPost%></div>
                        <!-- Post categories-->
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!"><%=tagPost%></a>
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!"><%=tagPost%></a>
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!"><%=tagPost%></a>
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!"><%=tagPost%></a>
                    </header>
                    <!-- Preview image figure-->
                    <figure class="mb-4"><img style="width: 100%;" class="img-fluid rounded" src="<%=urlImgPost%>" alt="..." /></figure>
                    <!-- Post content-->
                    <section class="centraliza mb-5">
                        <p class="fs-5 mb-4"><%=paragrafo1Post%></p>
                        <a href="#" class="w-25 btn btn-primary btn-sm">Comprar</a>
                    </section>
                </article>
            </div>
            <!-- Side widgets-->
            <div class="col-lg-4">
                <!-- Categories widget-->
                <div class="card mb-4">
                    <div class="card-header">Categorias</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="#!">Web Design</a></li>
                                    <li><a href="#!">HTML</a></li>
                                    <li><a href="#!">Freebies</a></li>
                                </ul>
                            </div>

                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="#!">Web Design</a></li>
                                    <li><a href="#!">HTML</a></li>
                                    <li><a href="#!">Freebies</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Side widget-->
                <div class="card mb-4">
                    <div class="card-header">Relacionados</div>
                    <div class="centraliza">
                    <figure class="mb-4"><img style="width: auto;" class="img-fluid rounded" src="img/corroselOfc.jpeg" alt="..." /></figure>
                    <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
                    <a href="#" class="w-25 btn btn-secondary btn-sm">Ver</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
<%- include('include/footer.ejs')%>